:root{
    --Accent2: #A9FEF7;
    --Accent: #0119AA;
    --Black: #2E2E2E;
    --White: white;
    --Gray: gray;
    --DarkGray: #5E5E5E;
    --Back: #FFFBFF;
    --Dark: #2F2F61;
    --PingBack: #FFD8F1;
    --BackImage: linear-gradient(rgba(33, 69, 197, 0.50), rgba(12, 47, 190, 0.60));
    --FilterBack: #eaf4f8;
    --ProgressColor: #b9fffc;
    --SpinButton: #000a80;
    --InputField: #e3fafd;
    --Star: #ff9800;
    --Label-level: #065277;
    --DesignButton: #CC00FF;
    --ProgButton: #3A8400;
    --MotionButton: #001AFF;
    --ViewAllBack: #B8F2FE;
    --RadioBack: #b2f1ea;
    --LightGray: #d0d0d0;
    --BackContent: #77B5FE;
    --hover-bg: #0030b9;
}

html{
    overflow-x: hidden;
}

body{
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    background-color: white;
}




* {
    font-family: 'Lato', sans-serif !important;
}


.hero-text {
    font-weight: 800 !important;
}

.hero-sub-text {
    line-height: normal;
    color: #5E5E5E;
}
header .nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 25px;
    gap: 156px;
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    font-weight: 500;
    height: 4.5rem;
    transition: all 0.3s,
    cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.3s;
}

header .nav-link {
    transition: all .5s;
    text-decoration-color: var(--Accent);

}
header .nav-link.active {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--Accent);
    text-underline-offset: 3px;
}
header .nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--Accent);
    text-underline-offset: 3px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.text-c{
    margin-bottom: auto !important;
    margin-top: auto !important;

}

.img-height{
    height: 100vh;
    width: 100%;
}

.text-size{
    font-size: 3rem;
    font-weight: bold;
}

#mainNav .nav-link {
    font-size: 16px;
}

.header-button-purp {
    color: #fff !important;
    background-color: var(--Accent);
    border-radius: 8px;
    padding: 0.8rem 1.3rem !important;
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
    padding: 0.8rem 1.3rem !important;

}
.btn-main {
    background-color: var(--Accent);
    border-radius: 8px !important;
    border:none;
    margin-left: 0px !important;
    padding: 5px;
    text-decoration: none;

}

.menu-separator {
    display: inline;
    width: 0.1rem !important;
    background-color: gainsboro;
    color: transparent;
    height: 100% !important;
    font-size: 10px;
    /*line-height: 1.6rem !important;*/
    padding: 0.8rem 0rem !important;
    border-radius: 50rem;
    margin-bottom: 10px !important;
}

.btn-categories{
    border-right: none;
    border-bottom: none;
    border-top: none;
}

.search-input{
    padding: 10px;
    border-radius: 5px;
    border:none;
    background-color: white;
    -webkit-box-shadow: 0px 0px 24px 1px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px 0px 24px 1px rgba(34, 60, 80, 0.25);
    box-shadow: 0px 0px 24px 1px rgba(34, 60, 80, 0.25);
    border-radius: 1rem;
}



.logo-header {
    height: 35px
}

.purp_button {

    background: var(--Accent);
    border-radius: 8px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    padding: 10px 15px !important;

    color: #FFFFFF !important;
    text-decoration: none;

}

.design-btn{
    background-color: #F2DDFF;
    color:var(--DesignButton);
    text-decoration: none;
    font-weight: bold;
}

.purp-text{
    color: var(--Accent);
}

.prog-btn{
    background-color:#E0FFDD ;
    color: var(--ProgButton);
    font-weight: bold;
    text-decoration: none;
}

.motion-btn{
    background-color: #DDE2FF;
    color: var(--MotionButton);
    font-weight: bold;
    text-decoration: none;
}

.view-all {
    background: var(--ViewAllBack);
    border: 1px solid var(--Accent);
    border-radius: 14px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--Accent);
    text-align: center;
    transition: 0.2s ease-in-out;
}

.view-all:hover, .view-all:focus, .view-all:active {

    background: var(--hover-bg);
    border: 1px solid var(--Accent);
    border-radius: 14px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-align: center;
}



.students-block{
    min-height: 500px;
    background: linear-gradient(rgba(25, 25, 25, 0.50), rgba(25, 25, 25, 0.60)), url("../calopsia_view/img/Back-image.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
}


.input-main-page:before {
    content: 'Ifdsfsdf';
    font-size: 20px;
}


a:hover{
    color: var(--Accent);
}



.ml{
    padding-left: 10%;

}


.mt{
    margin-top: 8rem;
}


.indi-button{
    background: white !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    border: none !important;
    opacity: 1 !important;

}


.carousel-indicators .active {
    background: var(--Accent) !important;
    opacity: 1;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}




.image-student{
    border-radius: 2rem;
    width: 17rem;
    height: 25rem;
}
.btn-price .purp-text {
    line-height: 41px;
}
.card.popular-cources {
    border: none;
    border-radius: 2rem !important;
    padding: 1.5rem !important;
    transition: 0.3s ease-in-out;
}
.card.popular-cources img{
    border: none;
    border-radius: 1rem !important;
}
.card.popular-cources .purp_button{
    border: none;
    border-radius: 0.7rem !important;
}
.card.popular-cources.shadow:hover {
    border: none;
    border-radius: 2rem !important;
    padding: 1.5rem !important;
    transform: scale(1.03);
}

.main-block {
    position: relative;
    min-height: 100vh !important;
}
.main-block::before {
    display: block;
    background-image: url('/calopsia_view/img/Back-image.jpg');
    content: '  ';
    min-height: 100vh !important;
    background-size: 50%;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: 100% 0% ;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.containerl {
    min-height: 100% !important;
}

hr.hr {
    background: var(--Accent);
    border: 2px solid var(--Accent);
    width: 7%;
    opacity: 1;
}

hr.hr-wt {
    background: white;
    border: 2px solid white;
    width: 7%;
    opacity: 1;
}

.navbar-collapse.show ul{
    padding-top: 0;
}

header .nav.full {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.08);
    border-radius: 0px;
    font-weight: 500;
    width: 100vw;
    max-width: 100%;
    height: 4.5rem;
}

.header-button {
    min-width: 103px;
}

.bg-blue {
    background: var(--SpinButton);
}

.byebyeheader {
    margin-top: 100px;
}

.at-full {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.08);
    border-radius: 0px;
    font-weight: 500;
    width: 100vw;
    max-width: 100%;
    height: 4.5rem;
}

.shadow {
    box-shadow: #1a1e2120 0px 5px 10px !important;
}

.btn-primary {
    background-color: var(--Accent) !important;
    border-color: #000a80;
}

.btn-max-width {
    width: 100% !important;
}


a{
    text-decoration: none;
}




@media screen and (max-width: 992px) {
    .main-block::before {
        display: block;
        content: '  ';
        min-height: 100vh !important;
        background-image: url("/calopsia_view/img/Back-image.jpg");
        background-size: cover;
        background-clip: border-box;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.3;
    }
    .dm {
        display: none !important;
    }

    header {
        width: 100%;
    }
    header .nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
        background: #FFFFFF;
        box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.08);
        border-radius: 0px;
        font-weight: 500;
        width: 100vw;
        max-width: 100%;
        height: auto !important;
    }
    .menu-separator.nav-item.d-sm-inline  {
        display: none !important;
    }
    .navbar-collapse {
        border-radius: 0 0 10px 10px;
        padding: 2rem 0.7rem 3rem 0.7rem;
    }
    ul.navbar-nav {
        display: block;
    }
    ul.navbar-nav.second .nav-item {
        display: inline-block !important;
        margin-top: 2rem;
    }
    ul.navbar-nav.second .menu-separator {
        display: none !important;
    }
    ul.navbar-nav.second {
        width: 100% !important;
        text-align: center !important;
        display: block !important;
    }

    .main-block {
        min-height: 650px !important;
    }

}
